<ion-view title="Buscar Produto" id="page2">
  <ion-content padding="true" class="has-header">
    <form id="buscarProduto-form1" class="list">
      <label class="item item-input" id="buscarProduto-search2">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item id="buscarProduto-list-item4">Câmera de 20 metros</ion-item>
      <ion-item id="buscarProduto-list-item5">Câmera de 30 metros</ion-item>
      <ion-item id="buscarProduto-list-item6">Câmera de 10 Metros</ion-item>
      <ion-item id="buscarProduto-list-item7">Dvr de 16 Canais</ion-item>
      <ion-item id="buscarProduto-list-item8">Dvr de 8 Canais</ion-item>
      <ion-item id="buscarProduto-list-item9">Dvr de 4 Canais</ion-item>
      <ion-item id="buscarProduto-list-item10">Fonte de 10 Amperes</ion-item>
      <ion-item id="buscarProduto-list-item11">Fonte de 5 Amperes</ion-item>
    </form>
  </ion-content>
</ion-view>