<ion-view title="Home" id="page1">
  <ion-content padding="true" class="has-header">
    <ion-list id="home-list1">
      <label class="item item-input" id="home-textarea1">
        <span class="input-label">Mundo da Tecnologia</span><textarea placeholder=""></textarea></label>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item1">
        <img src="img/gImHFN6vTSw5kWe1h8KP_camera_intelbras.jpg">
        <h2assertive>Câmera
          <p>Camera de segurança intelbras 20 metros</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item2">
        <img src="img/f0Ee2Hb3RwOCuqCli7sG_dvr_intelbras.jpg">
        <h2assertive>Dvr
          <p>Dvr intelbras 16 Canais</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-thumbnail-left assertive" id="home-list-item3">
        <img src="img/9ib2pKMSeGV6v8ZsQ3PV_fonte.jpg">
        <h2assertive>Fonte 5A
          <p>Fonte estabilizada 12v 5 Amperes</p>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>