<ion-view title="Perfil" id="page3">
  <ion-content padding="true" class="has-header">
    <form id="perfil-form2" class="list">
      <div>
        <img src="img/Lq4QaRIORaqNZF9mWmxL_20190528_215130.jpg" style="display: block; width: 20%; height: auto; margin-left: auto; margin-right: auto;">
      </div>
      <label class="item item-input" id="perfil-input1">
        <span class="input-label">Nome</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfil-input2">
        <span class="input-label">E-Mail</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfil-input3">
        <span class="input-label">Telefone</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="perfil-input4">
        <span class="input-label">Endereço</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="perfil-button1" class="button button-positive button-block">Enviar</button>
  </ion-content>
</ion-view>